<!DOCTYPE html>
<html>

    <head>
        
<meta charset="UTF-8">
<title>INTERFACE MODULES AUTOEQUIP</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="style/style.css">



    </head>
    <header>
        <%- include('../partials/header'); %>
    </header>
  <body>
    <script async="" id="__bs_script__" src="http://localhost:3000/browser-sync/browser-sync-client.js?v=2.26.3"></script>
    <br><br>
    <div class="Textep">
      <p> Cette interface à pour but de simplifier et de regrouper l'ensemble des modules 
        utilisés ou utilisables par la société Auto Equip.
        Cette interface contient l'ensemble des modules ainise qu'une documentation technique
        permettant de mieux comprendre le processus et aussi de résoudres les différents problème qui pourrait être 
        rencontrés.
      </p>
    </div>
    <footer>
      <%- include('../partials/footer'); %>
    </footer> 
  </body>
</html>
